.inputBox{
  display: flex;
  width: 220px;
  border: 1px solid gainsboro;
  padding:10px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 13px;
  margin-top: 10px;
}
label{
  span{
    margin-left: 13px;

  }

}
